{% extends "base.html" %}

{% block content %}

    <form method="GET" action="{% url 'cars_list' %}">
        <input type="text" name="search" placeholder="Buscar carro...">
        <button type="submit">Buscar</button>
    </form>

    {% if cars %}
        {% for car in cars %}
            <a href="{% url 'car_detail' pk=car.pk %}">
                <div class="card">
                    <img src="{{ car.photo.url }}" alt="{{ car.model}} - {{ car.brand }}">
                    <h2>{{ car.brand }} - {{ car.model}}</h2>
                    <p>{{ car.factory_year}} - {{ car.value}}</p>   
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>Nenhum carro encontrado.</p>
    {% endif %}
{% endblock content %}
